.table-button{
    width: 100px;
    height: 40px;
    background-color: white;
    color: #8d8a8a;
    border: 2px solid #8d8a8a;
    border-radius: 3px;
    margin-right: 30px;
    font-family: fantasy;
}

.table-button:hover{
    transition: 0.4s;
    border: 2px solid #da9b49;
    color: #da9b49;
    background-color: blanchedalmond;
}
