.issue_box{
    width: 85%;
    display: block;
    border: 0px;
    height: auto;
    border-top-left-radius: 25px;
    background-color: #cccccc;
    padding: 30px;
    margin-bottom: 30px;
    text-overflow: ellipsis;
}

.issue_box h3{
    font-family: "BMD";
    padding-top: 10px;
    padding-bottom: 10px;
}

.issue_box p{
    font-family: "BMJ";
    padding-left: 15px;
}

@media screen and (max-width:1024px){
    .issue_box{
        width: 100%;
    }
}